


/*transition*/
.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.modal-window{
    position: fixed;
    background: #F6F3F377;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.modal-content{
    max-width: 50%;
    padding: 20px;
}

.close-modal{
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.bx{
    cursor: pointer;
}